### Porpoise of this nb:
- To get to know about stuff:
    - How to read, edit, create & query data inside files using pandas
    - To clean dataset & make it usable
    - To learn ML basics using scikit

In [1]:
# Import stuff
from sklearn import linear_model
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv("restaurants.csv")
db.head()

  Restaurant_ID  Food_Quality  Service_Quality  Price
0           ADS            22               20     43
1           BLG            20               19     32
2           CMK            21               18     34
3           KLS            20               17     41
4           IOS            24               21     54

In [3]:
db = sklearn.utils.shuffle(db)

TypeError: 'Index' object is not callable